[[behaviours]]
name = "Behaviour 1"
UUID = "d0f5efd5-a148-44d1-8490-4cc58e7cb4e1"

[[behaviours]]
name = "Behaviour 2"

[[behaviours]]
name = "Behaviour 3"
UUID = "22a8a6e2-149d-494f-810e-57fbdd57585b"