[
    {
        "name": "Belief 1",
        "uuid": "907f0d52-c578-4256-a419-fcc51a1ad959"
    }, {
        "name": "Belief 2"
    }, {
        "name": "Belief 3",
        "uuid": "ac5f1895-9e6d-4c9e-99ae-66472eee4482"
    }
]